doctype html
html
  head
    title Actualización sobre prueba gratuita
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .container {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #666;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
  body
    .container
      h1 ¡Gracias por suscribirte a nuestra app!
      p Hola #{usuario.name},
      p Gracias por registrarte. Estamos emocionados de tenerte con nosotros.
      p Te comentamos que se ha acabado tu periodo de pruba gratis
      p A partir de mañana se empezarán a cargar cobros a tu targeta.
      p Si tienes alguna pregunta, no dudes en contactarnos.
      p Saludos,
      p El equipo de nuestra app